<div class="container mt-3"> 
    <div class="row justify-content-center align-items-center" style="min-height: 8vh;">
      <div class="col-md-8 bg-light p-4">
        <h1 class="text-center mb-4">Sobre a Minha Aplicação Angular</h1> 
        <p class="text-justify">
          Bem-vindo à Minha Aplicação Angular, uma aplicação web incrível construída com Angular!
        </p>
        <p class="text-justify">
          Nossa aplicação Angular é projetada para fornecer recursos incríveis aos nossos usuários e tornar a experiência deles o mais agradável possível.
        </p>
        <p class="text-justify">
          Estamos comprometidos em fornecer funcionalidades inovadoras e manter nossa aplicação sempre atualizada e segura.
        </p>
        <p class="text-justify">
          Obrigado por nos escolher! Se você tiver alguma dúvida ou precisar de assistência, entre em contato conosco.
        </p>
      </div>
    </div>
  </div>
  